.successtext{
    border: solid black 1px;
    font-size: 3rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    line-height: 6rem;
    color:green;
}

.falitext{
    border: solid black 1px;
    font-size: 3rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    line-height: 6rem;
    color:red;
}

.successbtn{
    background-color: gray;
    margin: 1rem;
}
