@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

* {
  font-family: "Fira Code", monospace;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-logo {
  font-style: italic;
  text-decoration: underline;
}

.centered{
  text-align: center;
}

.custom-login{
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 3rem;
}

@media screen and (max-width:850px){
  button{
    color: #fff;
    background: #222;
  }
}